# .gitignore

# Credentials
.streamlit/secrets.toml
credentials.json
client_secrets.json
credentials_service.json
service-account-for-user.json
spreadsheet-connector.json
youtube212121-0de9fad1d662.json

# Useless
__pycache__/
Google Drive API.ipynb

# ENV
.env

# Streamlit cache
.streamlit
