# Credentials
credentials.json
client_secrets.json
credentials_service.json
youtube212121-0de9fad1d662.json
.streamlit

# Useless
__pycache__/

# ENV
.env
service-account-for-user.json
spreadsheet-connector.json
Google Drive API.ipynb
