# Credentials
credentials.json
client_secrets.json
credentials_service.json
.streamlit

# Useless
__pycache__/

# ENV
.env
Google Drive API.ipynb
service-account-for-user.json
spreadsheet-connector.json
